{{!some Code taken from exploration}}
<h1>Pokemon Directory</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each pokemon.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each pokemon}}
        <tr>
            <td>{{this.pokemonID}}</td>
            <td>{{this.species}}</td>
            <td>{{this.pokemonName}}</td>
            <td>{{this.tid}}</td>
        </tr>       
        {{/each}}
    </tbody>
</table>