{{!some Code taken from exploration
Code taken/ adapted from exploration Web Application Technology
source: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-web-application-technology-2?module_item_id=26243419
Accessed 2/23/26
Author Dr. Curry}}

<h1>Trainer Directory</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each trainer.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each trainer}}
        <tr>
            <td>{{this.trainerID}}</td>
            <td>{{this.trainerFirstName}}</td>
            <td>{{this.trainerLastName}}</td>
            <td>{{this.homeCity}}</td>
        </tr>       
        {{/each}}
    </tbody>
</table>